<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InterfaceTest" verbose="1" preserve-order="true">
    <listeners>
     <listener class-name="com.dtstack.listener.CaseResultListener"></listener>
  	 <listener class-name="com.dtstack.listener.ExtentTestNGIReporterListener"></listener>
    </listeners>
    <test name="DTsight-client-test">
        <groups>
          <define name="all">
          <include name="qa"></include>
          <include name="online"></include>
          </define>
          <run>
          <include name="all"></include>
          </run>
        </groups>
        <packages>
            <package name="com.dtstack.testcase.crm.*"></package>
            <package name="com.dtstack.testcase.main.*"></package>
            <package name="com.dtstack.testcase.channel.*"></package>
            <package name="com.dtstack.testcase.ops.*"></package>
        </packages>

    </test>
</suite>